:root {
  --primary-color-times: #6fac72;
  /* --primary-color-times: #d81a46; */
  --primary-color-green: #59a340;
  --primary-color-orange: #fd7037;
  --primary-color-multicolor: #e4192b;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  overflow: hidden;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/homebg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  background-attachment: fixed;
}


.home-container {
  height: 100vh;
  display: flex;
  flex-direction: column;

}


.home-header-container {
  min-height: 50px;
  height: 10%;
  /* padding: 10px 10px; */
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;

}

.home-header-container.dark {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  /* padding: 0px 10px; */
  transition: background-color 0.5s ease-in-out, padding 0.5s ease-in-out;
}



.home-body-container {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4vw;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header-logo img {
  width: 65%;
}

.header-menu-items span {
  padding: 0px 20px;
  font-size: 1vw;
}

.header-hamburger-menu-container {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  position: relative;
  left: -100%;
  opacity: 0;
  transition: left 0.5s ease-in-out, opacity 0.5s ease-in-out;
  box-shadow: 3px 6px 4px 3px rgb(144 144 144 / 82%);
}

.header-hamburger-menu-container.slideIn {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}


.header-hamburger-menu-container.slideOut {
  left: 100%;
  transform: translateX(-50%);
  opacity: 0;
}


.header-menu-hamburger-items {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 1);
  color: black;
  text-align: center;
  width: 100%;
  max-height: 85vh;
  overflow: scroll;
}

.header-menu-hamburger-items span {
  padding: 20px 0px;
  border-bottom: 1px solid #eaeaea;
}


.header-menu-hamburger-items span:last-child {
  border-bottom: none;
}

.home-button {
  background: var(--primary-color-times);
  color: white;
  border: none;
  padding: 10px 30px;
  font-weight: 900;
  border-radius: 6px;
}


.heading-section {
  color: var(--primary-color-times);
  font-weight: 900;
}






/* Work container */
.our-work-container {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
}

.heading-container {
  color: white;
  text-align: center;
}

.work-container-layout {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.work-container {
  margin: 10px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 26vw;
}

.container-heading {
  font-size: 25px;
  color: black;
}

.container-paragraph {
  color: black;
}


.work-container img{
  width: 100%;
}

/* Media Queries */



@media (min-width: 320px) and (max-width: 480px) {}

@media (min-width: 481px) and (max-width: 767px) {}

@media (min-width: 768px) and (max-width: 1024px) {}


@media (min-width: 320px) and (max-width: 767px) {


  .work-container-layout{
    flex-wrap: wrap;
  }

  .work-container{
    width: 80%;
  }

}


@media (min-width: 320px) and (max-width: 1024px) {
  .header-menu-items {
    display: none;
  }

  .header-container {
    padding: 0px 30px 0px 5px;
  }
}


@media (min-width: 1025px) {

  .header-menu-hamburger,
  .header-hamburger-menu-container {
    display: none;
  }
}




@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {}



.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.mobileView .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.mobileView .bar2 {
  opacity: 0;
}

.mobileView .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/* animations */

.animate-top {
  position: relative;
  animation: animatetop 0.4s
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

.animate-left {
  position: relative;
  animation: animateleft 0.4s;

}

@keyframes animateleft {
  from {
    left: -300px;
    opacity: 0
  }

  to {
    left: 0;
    opacity: 1
  }
}

.animate-right {
  position: relative;
  animation: animateright 0.4s;
}

@keyframes animateright {
  from {
    right: -300px;
    opacity: 0
  }

  to {
    right: 0;
    opacity: 1
  }
}

.animate-bottom {
  position: relative;
  animation: animatebottom 0.4s
}

@keyframes animatebottom {
  from {
    bottom: -300px;
    opacity: 0
  }

  to {
    bottom: 0;
    opacity: 1
  }
}

.remove-element {
  animation: animateleft 1s ease-out forwards;
}

@keyframes animateleft {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: -300px;
    opacity: 0;
  }
}